* { 
    font-family: 'Chivo Mono', monospace;
    box-sizing: border-box;
}

body {
    background-color: #548af7;
    margin-top: 66px;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #f3f3f3;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
} 
